@page "/registro"
@using System.Net.Http;
@using System.Net.Http.Json;
@using Data;
@inject vacunadosServices service


<div class="text-center alert alert-info">
    <h4>Registro de vacunas</h4>
</div>
<div class="container">
    <div class="row">
        <!--col1-->
        <div class="col-md-6  border rounded" style="background-color: #d9feff; margin-bottom:100px">
            @if (consulta == false)
            {

                <div class="text-center">
                    <label><strong>Ingrese la cedula:</strong> </label>
                    <input type="number" class="form-check form-control" @bind="@cedula" />
                    <button class="btn btn-primary" @onclick="@buscarPersona" style="margin-top:5px">Verificar</button>
                </div>



                if (tieneLas2 == true)
                {
                    <p class="alert alert-success">Esta persona tiene las 2 dosis</p>
                }
            }

            @if (consulta == true)
            {

                <p class="alert alert-primary" style="margin-top:10px"><strong>Nombre: </strong> @resultado.Nombres</p>
                <p class="alert alert-primary"><strong>Apellidos : </strong>@resultado.Apellido1 @resultado.Apellido2</p>
                <p class="alert alert-primary"><strong>Fecha de nacimiento: </strong>@resultado.FechaNacimiento</p>

                //forms
                <div class="alert alert-primary"><strong>Fehca de la dosis:</strong> <input type="date" @bind="@fechaDosis1" class="form-check form-control" style="width:200px" /></div>
                <div class="alert alert-primary"><strong>Telefono: </strong><input type="text" @bind="@telefono" class="form-check form-control" style="width:200px" /></div>
                //select tipo de vacuna

                <div class="form-group alert alert-primary">
                    <label for="exampleFormControlSelect1"><strong>Tipo de vacuna : </strong></label>
                    <select class="form-control" id="exampleFormControlSelect1" name="name" @onchange="tipoVacuna" style="width:200px">
                        <option> -- Sin seleccionar -- </option>
                        <option>Vacuna tipo A</option>
                        <option>Vacuna tipo B</option>
                        <option>Vacuna tipo C</option>
                    </select>
                </div>

                //select provincias
                <div class="form-group alert alert-primary">
                    <label for="exampleFormControlSelect1"><strong>Provincia : </strong></label>
                    <select class="form-control" id="exampleFormControlSelect1" name="nam" @onchange="provincias" style="width:200px">
                        <option> -- Sin seleccionar -- </option>
                        <option>Azua</option>
                        <option>Bahoruco</option>
                        <option>Barahona</option>
                        <option>Dajabón</option>
                        <option>Distrito Nacional</option>
                        <option>Duarte</option>
                        <option>Elías Piña</option>
                        <option>El Seibo</option>
                        <option>Espaillat</option>
                        <option>Hato Mayor</option>
                        <option>Hermanas Mirabal</option>
                        <option>Independencia</option>
                        <option>La Altagracia</option>
                        <option>La Romana</option>
                        <option>La Vega</option>
                        <option>María Trinidad Sánchez</option>
                        <option>Monseñor Nouel</option>
                        <option>Monte Cristi</option>
                        <option>Monte Plata</option>
                        <option>Pedernales</option>
                        <option>Peravia</option>
                        <option>Puerto Plata</option>
                        <option>Samaná</option>
                        <option>San José de Ocoa</option>
                        <option>San Juan</option>
                        <option>San Pedro de Macorís</option>
                        <option>Sánchez Ramírez</option>
                        <option>Santiago</option>
                        <option>Santiago Rodríguez</option>
                        <option>Santo Domingo</option>
                        <option>Valverde</option>

                    </select>
                </div>
            }
            @if (tipoDeVacuna != "-- Sin seleccionar --" && provincia != "-- Sin seleccionar --")
            {
                <button class="btn btn-info" @onclick="nuevoVacunado"> Agregar registro</button>
            }
        </div>
        <!--col2-->
        <div class="col-md-6">
            @if (existe == true)
            {
                 <div class="header">
                    <h1 class="alert alert-info">Vacunado encontrado</h1>
                 </div>
                 <div class="text-center">
                     <p class="alert alert-success">Esta persona se encuentra en el registros</p>
                 </div>
                <p class="alert alert-primary"><strong>Nombre : </strong>@resultado.Nombres </p>
                <p class="alert alert-primary"><strong>Apellido :</strong> @resultado.Apellido1 @resultado.Apellido2</p>
                <p class="alert alert-primary"><strong>Telefono :</strong> @TelefonoR </p>
                <p class="alert alert-primary"><strong>Fecha de nacimiento :</strong> @resultado.FechaNacimiento </p>
                <p class="alert alert-primary"><strong>Tipo de vacuna :</strong> @vacunaTipoR </p>
                <p class="alert alert-warning"><strong>Fecha de primera dosis :</strong>Fecha de primera dosis : @FechaD1Registrado </p>
                <div class="alert alert-primary">
                    <p>agregar fecha de 2da dosis</p><input type="date" @bind="@fechaDosis2" class="form-check form-control" style="width:200px" />
                </div>
                <div class="text-center" style="margin-bottom:50px">
                    <button class="btn btn-primary" @onclick="@dosis2">Agregar</button>
                </div>

            }  @if (vc2 == true)
            {
                <p class="alert alert-success">!Listo, fecha agregada, esta persona tiene las 2 dosis</p>
            }
        </div>
    </div>
</div>






@code {

    public class Persona
    {
        public string Cedula { get; set; }
        public string Nombres { get; set; }
        public string Apellido1 { get; set; }
        public string Apellido2 { get; set; }
        public string FechaNacimiento { get; set; }
        public string LugarNacimiento { get; set; }
        public int IDCategoria { get; set; }
        public string IdSexo { get; set; }
        public string IdEstadoCivil { get; set; }
        public int IdOcupacion { get; set; }
        public int IDNacionalidad { get; set; }
        public int IDMunicipio { get; set; }
        public int IDColegio { get; set; }
        public object IDCausaCancelacion { get; set; }
        public string IDEstatus { get; set; }
        public object EstatusCedulaAzul { get; set; }
        public object CedulaAnterior { get; set; }
        public string mun_ced { get; set; }
        public string seq_ced { get; set; }
        public string ver_ced { get; set; }
        public object V2004 { get; set; }
        public object V2008 { get; set; }
        public object V2012 { get; set; }
        public object V2016 { get; set; }
        public object PLD { get; set; }
        public object PRD { get; set; }
        public object PRSC { get; set; }
        public object PRM { get; set; }
        public object Multiplicador_NombreCompleto { get; set; }
        public object Multiplicador_Cedula { get; set; }
        public object Simpatia_Descripcion { get; set; }
        public object Ilocalizable { get; set; }
        public object Apodo { get; set; }
        public object PadronLF { get; set; }
        public bool ok { get; set; }
        public string foto { get; set; }
    }

    bool consulta = false;
    bool existe = false;
    bool vc2 = false;
    bool tieneLas2 = false;

    long cedula;
    String tipoDeVacuna = "-- Sin seleccionar --";
    String provincia = "-- Sin seleccionar --";
    DateTime fechaDosis1;
    long telefono = 809;

    //Registrados
    String FechaD1Registrado;
    long TelefonoR;
    String vacunaTipoR;

    //Segunda fecha
    DateTime fechaDosis2;

    Persona resultado = null;
    String ced;


    static readonly HttpClient http = new HttpClient();

    async Task dosis2()
    {
        vc2 = true;
        existe = false;
        resultado = await http.GetFromJsonAsync<Persona>("https://api.adamix.net/apec/cedula/" + cedula);
        string fecha = fechaDosis2.ToString("dd/MM/yyyy");

        //Verifica si esta cedula esta registrada
        foreach (var data in Products)
        {
            if (cedula == data.Id)
            {
                SetProductForUpdate(data);
                UpdateProduct.fecahDosis2 = fecha;
                UpdateProductData();
                return;
            }
        }

    }

    async Task buscarPersona()
    {
        resultado = await http.GetFromJsonAsync<Persona>("https://api.adamix.net/apec/cedula/" + cedula);


        //Verifica si esta cedula esta registrada
        foreach (var data in Products)
        {
            if(cedula == data.Id)
            {
                if(data.fecahDosis2 != "Sin recibir")
                {
                    tieneLas2 = true;
                    return;
                }
                existe = true;
                FechaD1Registrado = data.fecahDosis1;
                vacunaTipoR = data.tipoVacuna;
                TelefonoR = data.telefono;
                SetProductForUpdate(data);
                UpdateProductData();
                return;
            }
        }



        //fin veridicacion

        if (resultado.ok)
        {
            consulta = true;
        }
        else
        {
            ced = "Cedula no encontrada";
        }

    }

    public void tipoVacuna(ChangeEventArgs e)
    {
        tipoDeVacuna = e.Value.ToString();
    }
    public void provincias(ChangeEventArgs e)
    {
        provincia = e.Value.ToString();
    }

    public void nuevoVacunado()
    {
        string fecha = fechaDosis1.ToString("dd/MM/yyyy");
        NewProduct.nombre = resultado.Nombres;
        NewProduct.apellido = resultado.Apellido1 + " " + resultado.Apellido2;
        NewProduct.fechaNacimiento = resultado.FechaNacimiento;
        NewProduct.tipoVacuna = tipoDeVacuna;
        NewProduct.provincia = provincia;
        NewProduct.fecahDosis1 = fecha;
        NewProduct.fecahDosis2 = "Sin recibir";
        NewProduct.telefono = telefono;
        NewProduct.Id = cedula;
        AddNewProduct();
    }

    //Agregar,Altualizar

    List<vacunados>
    Products = new List<vacunados>
        ();

    protected override async Task OnInitializedAsync()
    {
        await RefreshProducts();
    }

    private async Task RefreshProducts()
    {
        Products = await service.GetProductAsync();
    }


    public vacunados NewProduct { get; set; } = new vacunados();

    private async Task AddNewProduct()
    {
        await service.AddProductAsync(NewProduct);
        NewProduct = new vacunados();
        await RefreshProducts();
    }

    vacunados UpdateProduct = new vacunados();
    private void SetProductForUpdate(vacunados product)
    {
        UpdateProduct = product;
    }

    private async Task UpdateProductData()
    {
        await service.UpdateProductAsync(UpdateProduct);
        await RefreshProducts();
    }

    private async Task DeleteProduct(vacunados product)
    {
        await service.DeleteProductAsync(product);
        await RefreshProducts();
    }
}
